main {
  background-color: var(--light-grayish-cyan-background);
  padding-top: 50px;
}

.move_list {
  padding-top: 150px;
}

@media screen and (min-width: 1000px) {
  .move_list {
    padding-top: 80px;
  }
}
