.card {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 25px -12px var(--dark-grayish-cyan);
  margin-bottom: 20px;
  padding: 1rem;
}

.time_location_details li {
  display: inline-block;
  margin-right: 0.5rem;
}

.visible {
  display: block;
}
