.tags_container {
  min-height: 105px;
  width: 90%;
  max-width: 1100px;
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translate(0, 25px);
  box-shadow: 0px 10px 25px -12px var(--dark-grayish-cyan);
  display: flex;
  padding: 1rem;
}

.tag {
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 15px;
}

.tag > div {
  background-color: var(--light-grayish-cyan-filter-tablets);
  color: var(--desaturated-dark-cyan);
  padding: 8px;
  font-weight: 700;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tag > img {
  background-color: var(--desaturated-dark-cyan);
  padding: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.tag > img:hover {
  background-color: var(--very-dark-grayish-cyan);
}

.tags_container_left {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
}

.tags_container_right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags_container_right > button {
  color: var(--dark-grayish-cyan);
}

.tags_container_right > button:hover {
  color: var(--desaturated-dark-cyan);
  text-decoration: underline;
}

@media screen and (min-width: 1000px) {
  .tags_container {
    min-height: 50px;
    padding: 1rem 2.5rem;
  }

  .tags_container_right {
    justify-content: end;
  }
}
